# Emacs backup files
*~
*#
.#*
# Vim file artifacts
.*.sw*
.DS_Store
.project
# omit Go vendor directories
vendor/
.vscode
.gradle
.idea
# Dependency directories
node_modules/
package-lock.json
# Ignore Gradle build output directory
build
# Ignore Maven build output directory
target

# Eclipse
.classpath
.settings

# installed Fabric binaries etc.
/bin/
builders/
config/
external-chaincode/
install-fabric.sh

# override the ignore of all config/ folders
!full-stack-asset-transfer-guide/infrastructure/sample-network/config
asset-transfer-basic/application-gateway-go/assetTransfer.go
asset-transfer-basic/application-gateway-java/gradlew
asset-transfer-basic/application-go/.gitignore
asset-transfer-basic/application-java/gradlew
asset-transfer-basic/chaincode-external/README.md
asset-transfer-basic/chaincode-external/sampleBuilder/bin/build
asset-transfer-basic/chaincode-external/sampleBuilder/bin/detect
asset-transfer-basic/chaincode-external/sampleBuilder/bin/release
asset-transfer-basic/chaincode-java/Dockerfile
asset-transfer-basic/chaincode-java/gradlew
asset-transfer-basic/chaincode-java/docker/docker-entrypoint.sh
asset-transfer-basic/chaincode-typescript/docker/docker-entrypoint.sh
asset-transfer-basic/rest-api-typescript/scripts/generateEnv.sh
asset-transfer-events/application-gateway-go/app.go
asset-transfer-events/application-gateway-go/connect.go
asset-transfer-events/application-gateway-java/gradlew
asset-transfer-events/application-gateway-typescript/package.json
asset-transfer-events/application-gateway-typescript/tsconfig.json
asset-transfer-events/application-gateway-typescript/src/app.ts
asset-transfer-events/chaincode-java/gradlew
asset-transfer-ledger-queries/application-java/gradlew
asset-transfer-private-data/chaincode-java/gradlew
asset-transfer-private-data/chaincode-typescript/package.json
asset-transfer-sbe/chaincode-java/gradlew
ci/scripts/lint-go.sh
ci/scripts/lint-java.sh
ci/scripts/lint-javascript.sh
ci/scripts/lint-shell.sh
ci/scripts/lint-typescript.sh
ci/scripts/lint.sh
ci/scripts/run-k8s-test-network-basic.sh
ci/scripts/run-test-network-basic.sh
ci/scripts/run-test-network-events.sh
ci/scripts/run-test-network-gateway.sh
ci/scripts/run-test-network-hsm.sh
ci/scripts/run-test-network-ledger.sh
ci/scripts/run-test-network-off-chain.sh
ci/scripts/run-test-network-private.sh
ci/scripts/run-test-network-sbe.sh
ci/scripts/run-test-network-secured.sh
full-stack-asset-transfer-guide/check.sh
full-stack-asset-transfer-guide/checks/check-chaincode.sh
full-stack-asset-transfer-guide/checks/check-kube.sh
full-stack-asset-transfer-guide/checks/check-network.sh
full-stack-asset-transfer-guide/contracts/asset-transfer-typescript/docker/docker-entrypoint.sh
full-stack-asset-transfer-guide/infrastructure/kind_with_nginx.sh
full-stack-asset-transfer-guide/infrastructure/pkgcc.sh
full-stack-asset-transfer-guide/infrastructure/setup_storage_classes.sh
full-stack-asset-transfer-guide/infrastructure/sample-network/network
full-stack-asset-transfer-guide/tests/00-chaincode-e2e.sh
full-stack-asset-transfer-guide/tests/10-appdev-e2e.sh
full-stack-asset-transfer-guide/tests/20-cloud-e2e.sh
full-stack-asset-transfer-guide/tests/30-ansible-e2e.sh
full-stack-asset-transfer-guide/tests/40-console.sh
hardware-security-module/scripts/generate-hsm-user.sh
high-throughput/networkDown.sh
high-throughput/startFabric.sh
high-throughput/application-go/.gitignore
off_chain_data/application-java/gradlew
off_chain_data/legacy-application-javascript/network-clean.sh
off_chain_data/legacy-application-javascript/startFabric.sh
test-network/config_block.json
test-network/config_block.pb
test-network/config_update_in_envelope.json
test-network/config_update.json
test-network/config_update.pb
test-network/modified_config.pb
test-network/monitordocker.sh
test-network/Org1MSPanchors.tx
test-network/Org1MSPconfig.json
test-network/Org1MSPmodified_config.json
test-network/Org2MSPanchors.tx
test-network/Org2MSPconfig.json
test-network/Org2MSPmodified_config.json
test-network/original_config.pb
test-network/setOrgEnv.sh
test-network/addOrg3/addOrg3.sh
test-network/addOrg3/ccp-generate.sh
test-network/organizations/ccp-generate.sh
test-network/organizations/ccp-template.json
test-network/organizations/ccp-template.yaml
test-network/organizations/cfssl/registerEnroll.sh
test-network/organizations/cryptogen/crypto-config-orderer.yaml
test-network/organizations/cryptogen/crypto-config-org1.yaml
test-network/organizations/cryptogen/crypto-config-org2.yaml
test-network/organizations/fabric-ca/registerEnroll.sh
test-network/organizations/fabric-ca/ordererOrg/fabric-ca-server-config.yaml
test-network/organizations/fabric-ca/org1/fabric-ca-server-config.yaml
test-network/organizations/fabric-ca/org2/fabric-ca-server-config.yaml
test-network/scripts/ccutils.sh
test-network/scripts/orderer.sh
test-network/scripts/orderer3.sh
test-network/scripts/orderer4.sh
test-network/scripts/org3-scripts/joinChannel.sh
test-network/scripts/org3-scripts/updateChannelConfig.sh
test-network-k8s/network
test-network-k8s/scripts/application_connection.sh
test-network-k8s/scripts/ccp-template.json
test-network-k8s/scripts/chaincode.sh
test-network-k8s/scripts/fabric_CAs.sh
test-network-k8s/scripts/fabric_config.sh
test-network-k8s/scripts/kind.sh
test-network-k8s/scripts/prereqs.sh
test-network-k8s/scripts/rest_sample.sh
test-network-k8s/scripts/set_anchor_peer.sh
test-network-k8s/scripts/test_network.sh
test-network-nano-bash/chaincode_interaction.sh
test-network-nano-bash/generate_artifacts.sh
test-network-nano-bash/install&approve&commit_chaincode_peer1.sh
test-network-nano-bash/join_channel.sh
test-network-nano-bash/join_orderers.sh
test-network-nano-bash/network.sh
test-network-nano-bash/orderer1.sh
test-network-nano-bash/orderer2.sh
test-network-nano-bash/orderer3.sh
test-network-nano-bash/orderer4.sh
test-network-nano-bash/peer1.sh
test-network-nano-bash/peer1admin.sh
test-network-nano-bash/peer2.sh
test-network-nano-bash/peer2admin.sh
test-network-nano-bash/peer3.sh
test-network-nano-bash/peer3admin.sh
test-network-nano-bash/peer4.sh
test-network-nano-bash/peer4admin.sh
token-erc-20/chaincode-java/build.gradle
token-erc-20/chaincode-java/Dockerfile
token-erc-20/chaincode-java/gradlew
token-erc-20/chaincode-java/gradlew.bat
token-erc-20/chaincode-java/settings.gradle
token-erc-20/chaincode-java/config/checkstyle/checkstyle.xml
token-erc-20/chaincode-java/config/checkstyle/suppressions.xml
token-erc-20/chaincode-java/docker/docker-entrypoint.sh
token-erc-20/chaincode-java/gradle/wrapper/gradle-wrapper.jar
token-erc-20/chaincode-java/gradle/wrapper/gradle-wrapper.properties
token-erc-20/chaincode-javascript/.editorconfig
token-erc-721/chaincode-java/build.gradle
token-erc-721/chaincode-java/Dockerfile
token-erc-721/chaincode-java/gradlew
token-erc-721/chaincode-java/gradlew.bat
token-erc-721/chaincode-java/settings.gradle
token-erc-721/chaincode-java/docker/docker-entrypoint.sh
token-erc-721/chaincode-javascript/.editorconfig
token-sdk/scripts/down.sh
token-sdk/scripts/enroll-users.sh
token-sdk/scripts/up.sh



#Ignore Fabric_samples 
fabric_samples/asset_transfer.zip
